# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# Environments
.venv/
.env
.env.local
.venv*/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code / Editors
.vscode/
.idea/
*.iml

# Logs
*.log

# Streamlit cache
.streamlit/
